@import url('href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    background: #4385f5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.link-login1 {
    position: relative;
    display: inline-block;
    color: #ffffff;
    border-radius: 6%;
    left: 20px;
    text-decoration: none;
}

.link-login1:hover {
    opacity: 0.6;
}

.link-login1:active {
    opacity: 0.6;
}

.div-login {
    flex-direction: column;
    position: relative;
    left: 0px;
    border-radius: 6%;
    left: -387px;
    top: 15px;
}

.simuladores {
    position: absolute;
    display: block;
    top: 220px;
}

.header_Principal {
    margin: 0;
    padding: 0;
    height: 0;
    display: flex;
    background: #ffffff;
}

.nav {
    display: inline-flex;
    background: #ffffff;
}

.img_header {
    position: static;
    display: inline-flex;
    height: 220px;
    border-bottom-right-radius: 15px;
}

.div-curso1 {
    display: inline-block;
    height: 75px;
    width: 100px;
    background-color: #ffffff;
    margin-left: 20px;
    width: 467px;
    border-radius: 10px;
    box-shadow: none;
    text-decoration: underline;
    position: relative;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    top: 0;
    left: 10px;
    font-size: 12px;
}

.div-curso2 {
    position: absolute;
    display: inline-block;
    height: 75px;
    background-color: #ffffff;
    margin-left: 50px;
    width: 633px;
    border-radius: 10px;
    box-shadow: none;
    text-decoration: underline;
    position: relative;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    text-decoration: none;
    top: 0;
    left: -250px;
    font-size: 12px;
}

.div-curso2:active {
    opacity: 0.6;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.list1 {
    border-radius: 10%;
    color: #ffffff;
    box-shadow: none;
    gap: 4px;
    text-decoration: none;
    line-height: 54px;
}

.list2 {
    border-radius: 10%;
    color: #ffffff;
    box-shadow: none;
    gap: 10px;
    text-decoration: none;
    line-height: 54px;
}

.main-principal {
    position: absolute;
    display: inline-flex;
    top: 656px;
}

.section-h2 {
    position: relative;
    left: 200px;
}

.section-video { 
    position: relative;
    margin: 5px;
    padding-bottom: 12px;
    top:5px;
    left: 40px;
}

.li-video {
    position: relative;
    padding-bottom: 12px;
    top:5px;
    left: 20px;
}